@{ 
    int count;
    count = 45;
    DateTime date = DateTime.Now;
    string message = "welcome to server side";

    <p> count=@count</p>
    <p> message=@message</p>
}

<p id="para">Static Content</p>
<hr/>


<script>

    var result = 87;
    result++;
    var text = "welcome to client side";
    var ptext = document.getElementById("para");
    ptext.innerHTML = text;

    //Call back function
    //action listeneer
    //event handler

    function onSignIn() {
        alert("button is clicked");
    }


    /*var onSignIn = function () {
        alert("button is clicked");
    }

    var onSignIn = () => {
        //Dom programming 
        let txtUserEmail = document.getElementById("txtEmail");
        let email = txtUserEmail.value;
        let txtUserPassword = document.getElementById("txtPassword");
        let password = txtUserPassword.value;

        if (email === "shruti@gmail.com" && password === "123") {
            alert("login successful");
        }
        else {
            alert("invalid user");}
    }*/
</script>