
@{
    ViewBag.Title = "JqueryDemo";
}

<h2>JqueryDemo</h2>

<hr />
<p id="para"> hello world !!</p>

<button id="btnshow">Show Data</button>
<button id="btnhide">Hide Data</button>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquerydom.js"></script>

