
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div>
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" id="email" name="email" /></td>
        </tr>

        <tr>
            <td>Name</td>
            <td><input type="text" id="name" name="name" /></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" id="password" name="password" /></td>
        </tr>

        <tr>
            <td><button type="submit" id="btnregister">REGISTER</button></td>
        </tr>

    </table>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/register.js"></script>





