﻿
@{
    ViewBag.Title = "SignIn";
}

<h2>Signin</h2>
<table>
    <tr>
        <td>Email </td>
        <td><input type="email" id="email" /></td>
    </tr>
    <tr>
        <td>Password </td>
        <td><input type="password" id="password" /></td>
    </tr>
    <tr>
        <td> </td>
        <td><button id="SubmitButton" onclick="onLogin()">Submit</button></td>
    </tr>
</table>

<script>



    let onLogin = () => {
        let Uemail = document.getElementById("email").value;
        let Upassword = document.getElementById("password").value;


        const url = "/home/SignIn";

        const credential = {
            email: Uemail,
            password: Upassword
        };

        fetch(url, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(credential),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('There was an error!', error);
            });
    };






</script>