@model ECommerceEntities.Item

@{
    ViewBag.Title = "AddtoCart";
}

<h2>AddtoCart</h2>

<form method="post" action="/shoppingCart/AddToCart">
    <input type="number" value="@ViewBag.id" name="ProductId" readonly />
    <input type="number" name="ProductQuantity" />
    <button type="submit">Submit</button>


</form>





