@using ECommerceEntities;

<h2>Products for sale </h2>
<main>
    <div class="row">

        <ol>
            @{
                List<Product> products = (List<Product>)ViewData["products"];

                foreach (Product p in @Model)
                {
                    <li>
                        <p> @p.Title</p>


                        <img src=" @p.ImageUrl" width="50" height="50" />
                        <a href="/product/details/@p.ProductId">Details</a></li>


                }

            }
        </ol>

    </div>
</main>
</main>

